// _sass/variables-hook.scss
$font-family-base: -apple-system, BlinkMacSystemFont, "SF Pro Text",
  "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-heading: $font-family-base;

$font-family-monospace: "SF Mono", "Menlo", "Monaco", "Consolas",
  "Liberation Mono", monospace;
