---
---

@import 'main';

:root {
  --font-family-main: -apple-system, BlinkMacSystemFont, "SF Pro", "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  --font-family-code: "SF Mono", "Menlo", "Monaco", "Consolas", "Courier New", monospace !important;
}

body {
  font-family: var(--font-family-main);
}

code, pre, .highlight, .highlight * {
  font-family: var(--font-family-code);
}
